*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    
}

body {
    background-color: #89d0fe;
    display: flex;
    flex-direction: column;
    flex:1;
    background-image: url("/img/indexbild.jpg");
    background-position-y: 10vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

h1 {
    font-family: cursive;
    background-color: #E69F91;
    height: 13vh;
    text-align: center;
    line-height: 13vh; /*Varje rad*/
    color: #3C627D;
    
}

nav {
    display: flex;
    justify-content: center;
    
}

.navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #B08A89;
    width: 100%;
    height: 5vh;
    font-size: 2vh;
  

}

.navLinks li {
    list-style: none;
    padding-left: 7px;
    padding-right: 7px;
    
}

.navLinks a {
    color: #3C627D;
}

.info {
    background-color: white;
    padding-bottom: 30px;
    text-align: center;
    height: 100%;
    margin-top: 20vh;
}

.omossinfo {
    background-color: white;
    padding-bottom: 30px;
    text-align: center;
    height: 100%;
}

.info p{
    margin-top: 10px;
    color: rgb(29, 28, 28);
}

footer {
    background-image: linear-gradient(white, #3C627D);
    margin-top: auto; 
    display: flex;
    justify-content: center;
}

.footer{
    list-style: none;
    padding: 20px;

}